
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Socket.IO Chat Example</title>
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
  <ul class="pages">
    <li class="chat page">
      <div class="chatArea">
        <ul class="messages"></ul>
      </div>
      <div class="select-btn">
        <img id="emoji" src="/static/img/emoji3.png" />
        <div id="emojiWrapper"></div>
        <img id="file" src="/static/img/file.png">
        <input class="inputImage" type="file"/>
      </div>
      <input class="inputMessage" placeholder="Writing here..."/>
    </li>
    <li class="login page">
      <div class="form">
        <h3 class="title">你的昵称是什么?</h3>
        <input class="usernameInput" type="text" maxlength="14" />
      </div>
    </li>
  </ul>

  <script src="http://s4.qhimg.com/static/535dde855bc726e2/socket.io-1.2.0.js"></script>
  <script src="http://s4.qhimg.com/static/8b5050af3b8512e1/jquery.js"></script>
  <script src="/static/js/index.js"></script>
</body>
</html>